<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "Balance Met 2_2"
    versionCode = "1.0"
    version     = "1.0" >

<!-- versionCode is optional and Android only -->

  <name>Balance Metalúrgico 2-2</name>
  <icon src="img/icons8-scales-64.png"></icon>
  <description>
  	<p>	
  		Esta aplicación diseñado para ingenieros, mineros, metalurgistas y estudiantes.
		</p>
    <p>	
    	Calculación de Balance Metalurgico. Para tres productos: 2 concentrados y 2 metales. 
    </p>   
  </description>

  <author href="https://www.linkedin.com/in/4bimcad/" email="4bimcad@gmail.com">
      Stanislav Tsvitkov
  </author>

</widget>